/*HEADER*/ 

* {
    font-family: 'Sans Serif Collection', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('/src/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px 40px; 
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.3);
    background-color: black;
    border-bottom: 1px solid white; /* Adiciona uma borda branca na parte inferior */
}

.header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header ul li {
    display: inline-block;
    margin-right: 50px;
}

.header ul li:last-child {
    margin-right: 0; /* Remove a margem direita do último item */
}

.header ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.header ul li a:hover {
    color: rgb(104, 2, 151);
}

.meio {
    flex: 1; /* Faz o menu ocupar todo o espaço disponível */
    text-align: center; /* Centraliza o texto */
}

.meio li {
    display: inline-block;
    margin-right: 50px;
}

.meio li:last-child {
    margin-right: 0; /* Remove a margem direita do último item */
}

.meio li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.meio li a:hover {
    color: rgb(104, 2, 151);
}

.icons img {
    width: 30px; /* Aumenta o tamanho do ícone */
    height: 30px; /* Aumenta o tamanho do ícone */
    margin-right: 10px; /* Adicione espaçamento à direita, conforme necessário */
}

.imagemlogo {
    position: absolute;
    top: 20px;
    left: 24px;
    width: 60px; /* Ajustar tamanho da logo conforme necessário */
    height: 30px;
}


/*CORPO DO SITE*/

.title-contra {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.title-table {
    color: white;
}

/* Estilos para a tabela */
.table {
    margin-top: -20px;
    margin-bottom: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: #9d0ae7;
    color: #fff;
}

.title-table {
    background-color: rgb(104, 2, 151);
    display: flex;
}

/* Estilos para as linhas da tabela */
.row {
    display: flex;
    border-bottom: 1px solid #ccc;
}

/* Estilos para as células da tabela */
.cell {
    flex: 1;
    padding: 10px;
}

/* Estilos para a última célula (botão imprimir) */
.cell:last-child {
    text-align: center;
}

/* Estilos para o botão imprimir */
.cell button {
    padding: 5px 10px;
    background-color: #9d0ae7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para o hover do botão imprimir */
.cell button:hover {
    background-color: rgb(104, 2, 151);
}

/*FOOTER */

footer {
    width: 100%; /* Mudado para ajustar à largura da tela */
    background-color: #1D1D1D;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    margin-top: 200px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between; /* Distribui as colunas igualmente */
    flex-wrap: wrap; /* Permite que as colunas quebrem para baixo em telas menores */
}

footer .company-logo {
    flex: 1; /* Ajusta a largura da coluna para ocupar o espaço disponível */
    text-align: left; /* Alinha o logo à esquerda */
}

footer .company-logo img {
    margin-left: 50px;
}

footer .footer-nav,
footer .quick-links,
footer .social-media {
    flex: 1; /* Ajusta a largura das colunas para ocupar o espaço disponível */
    text-align: left; /* Alinha o conteúdo à esquerda */
    margin-bottom: 20px; /* Adiciona um espaço entre as colunas */
}

footer .footer-line {
    clear: both; /* Limpa as flutuações anteriores */
    margin-top: 20px; /* Adiciona um espaço entre o conteúdo e a linha de créditos */
}

/* Estilos para as colunas */
footer .footer-nav h3,
footer .quick-links h3,
footer .social-media h3 {
    margin-bottom: 10px; /* Adiciona um espaço inferior aos títulos */
}

footer .footer-nav ul,
footer .quick-links ul,
footer .social-media ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footer-nav li,
footer .quick-links li,
footer .social-media li {
    margin-bottom: 5px; /* Adiciona um espaço inferior entre os itens */
}

footer .footer-nav a,
footer .quick-links a,
footer .social-media a {
    color: #9d0ae7;
    text-decoration: none;
    transition: color 0.3s;
}

footer .footer-nav a:hover,
footer .quick-links a:hover,
footer .social-media a:hover {
    color: rgb(104, 2, 151);
}

footer .footer-line p {
    border-top: 1px solid rgb(136, 136, 136); /* Adiciona uma borda superior */
    padding-top: 2%; /* Adiciona um espaço entre a linha e o texto */
}

footer .social-media img {
    background: none;
}

footer .social-media ul li {
    display: inline-block;
    margin-right: 20px;
}
